<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>评论插件</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<section class="tent_info">
		<div class="col-md-12 col-sm-12 col-xl-12 textarea one">
			<textarea class="text_send" id="text_send"></textarea>
			<div class="col-md-12 col-sm-12 col-xl-12 btn btn_send">提交</div>
		</div>
	</section>
</body>
<script type="text/javascript" src="../js/jquery-min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>